<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyHomework_Lesson_8_1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyHomework_Lesson_8_1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MyHomework_Lesson_8_1.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="UserAge" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UserTypeOfWork" serializeAs="String">
                <value />
            </setting>
        </MyHomework_Lesson_8_1.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <MyHomework_Lesson_8_1.Properties.Settings>
            <setting name="Greeting" serializeAs="String">
                <value>Добро пожаловать</value>
            </setting>
        </MyHomework_Lesson_8_1.Properties.Settings>
    </applicationSettings>
</configuration>